@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #1e94f6;
  --color-background-light: #f5f7f8;
  --color-background-dark: #101a22;
  --font-display: "Inter", sans-serif;
}

body {
  font-family: var(--font-display);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.responsive-barcode svg {
  max-width: 100% !important;
  height: auto !important;
}
